<div id="footer-navbar" class="navbar navbar-fixed-bottom hidden-xs" role="contentinfo">
  <div class="container">
    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <span>favicon by <a href="https://thenounproject.com/vectormarket01/">Yo! Baba</a></span>
        </li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <span><a href="https://library.lclark.edu">Watzek Library</a> Digital Initiatives 2016-17</span>
        </li>
      </ul>
    </div>
  </div>
</div>
