#main-container {
    margin: auto 1rem; // side spacing on mobile
    padding-top: 9rem; // necessary for fixed navbar
}
@media (min-width: 768px) {
    #main-container {
        margin: auto;
    }
}

.jumbotron {
    background: $jumbotron-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    margin-bottom: 1rem;
}

.category-block {
    // collapse the "browse by" headings on small screens
    width: 100%;
}
@media (min-width: 992px) {
    .category-block {
        width: 25%;
    }
}

.institution-area {
    .featured-collections,
    .featured-maps {
        margin-top: 2rem;
    }

    .panel {
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
            transition: .2s ease-in-out;
            z-index: 5000;
        }

        .panel-body,
        .panel-footer {
            color: $text-color;
        }

        .featured-map-img {
            width: 100%;
        }
    }
}

.browse-area h2 {
    margin-bottom: 3rem;
}