// Color L&C's icon and adjust its position

.geoblacklight-lewis-clark {
  &::before {
    color: $brand-primary;
    margin-right: -3px;
    padding-left: 3px;
  }
}
// Keep the icon light for visibility inside buttons

.btn-primary {
  .geoblacklight-lewis-clark {
    &::before {
      color: $btn-primary-color;
    }
  }
}
// Remove default coloration from Stanford's

.geoblacklight-stanford {
  &::before {
    color: $gray-light;
  }
}
